*{
  box-sizing: border-box;
  overflow: hidden;
   
}

html{
  background-color: rgba(0, 0, 0, 0)
}

body{
  background-image: url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

.App {
  text-align: center;
  background-color: rgba(149, 173, 196, 0);
  height:100vh;
  overflow:auto ;
  color:white;
  width:100%;
  margin:auto;
  padding:10px
}

.title{
  border-bottom:3px solid rgba(61, 61, 61, 0.582);
  font-family: 'Allan';font-size: 2.5rem;
  font-weight:100; 
  margin-bottom:30px;
  padding:5px;
}

h1{
  margin:10px;
  font-family: 'Allan';font-size: 1.8rem;
}

.app-container{
  width:90%;
  margin:auto;
  border-radius:10px;
  border:0px;
  padding:0;
}

.imageContainer{
  width:80%;
  margin:auto;
}

.imageContainer img{
  width:100%;
  max-width:300px;

}

.string{
  font-weight:100;
}

.submit-button{
  background-color:rgb(92, 199, 92, 0.555);
  color:white;
  font-size:1.8em;
  font-weight: bold;
  margin-top:50px;
  height:100px;
  width: 80%;
  max-width:400px;
  border:none;
  border-radius:10px;
  font-family: 'Allan';font-size: 3rem;
  
}
::placeholder{
  color:rgb(255, 255, 255);
  font-family: 'Allan';font-size: 1.8rem;
}

input{
  background-color: rgba(56, 56, 56, 0.555);
  color:rgb(255, 255, 255);
  height:80px;
  width:80%;
  max-width:400px;
  font-size: 3em;
  padding:10px;
  border:none;
  border-radius:10px;
  font-family: 'Allan';font-size: 3rem;
  text-indent: 10px;
}


.weather-container{
  padding:10px;
  font-size: 1em;
  border-radius:25px;
  width:100%;
  display:flex;
  justify-content: space-evenly;

}
.weather-child{
color:rgba(255, 255, 255, 0.856);
width:50%;
margin:auto;
font-family: 'Allan';font-size: 1.3rem;

}
.weather-child.temp{
  color:rgba(255, 255, 255, 0.856);
  width:50%;
  margin:auto;
  font-family: 'Allan';font-size: 1.3rem;
  
  }

.cards{
  border-radius:10px;
  padding:10px;
  background-color: rgba(128, 128, 128, 0.452);
  width:400px;
  margin-top:10px;
  margin-left:10px
}


/* .weather-container .day-1-container{
 border:1px solid white;
 border-radius:10px;
 padding:10px;
 
}
.weather-container .day-2-container{
  border:1px solid white;
  border-radius:10px;
  padding:10px;
  
 }
 .weather-container .day-3-container{
  border:1px solid white;
  border-radius:10px;
  padding:10px;
  
 }
 .weather-container .day-4-container{
  border:1px solid white;
  border-radius:10px;
  padding:10px;
  
 }
 .weather-container .day-5-container{
  border:1px solid white;
  border-radius:10px;
  padding:10px;
  
 } */


.temp{
  font-size: .8em;
  color:rgba(255, 255, 255, 0.856);
  width:80%;
  margin:auto;
  font-family: 'Allan';font-size: 1rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}










/* Mobile friendly Media Query */
@media(max-width:820px){
  body{

  }


  
  .App {
    text-align: center;
    background-color: rgba(9, 123, 230, 0);
    height: 100vh;
    overflow:auto;
    color:white;
    margin-top:50px;
    width:100%;
    margin-top: 0px;
  }

  .title{
    border-bottom:3px solid rgba(61, 61, 61, 0.582);
    font-family: 'Allan';
    font-size: 2.8rem;
    margin-top:50px;
    margin-bottom:20px;
    padding:5px;
  }
  
  h1{
    margin:10px;
    font-family: 'Allan';font-size: 1.8rem;
  }
  
  .app-container{
    width:100%;
    border-radius:10px;
    border:0px;
    padding:0;
  }


  
  .submit-button{
    background-color:rgb(92, 199, 92, 0.555);
    color:white;
    font-size:1.8em;
    font-weight: bold;
    margin-top:50px;
    height:100px;
    width: 100%;
    border:none;
    border-radius:10px;
    font-family: 'Allan';font-size: 3rem;

   
  }
  ::placeholder{
    color:rgb(255, 255, 255);
    font-family: 'Allan';
    font-size: 1.8rem;
  }
  
  input{
    background-color: rgba(56, 56, 56, 0.288);
    color:rgb(255, 255, 255);
    height:100px;
    width:100%;
    font-size: 3em;
    padding:10px;
    border:none;
    border-radius:0px;
    font-family: 'Allan';font-size: 3rem;
  }
  
  
.weather-container{
  margin:0;
  padding:0;
  font-size: 1em;
  width:100%;
  margin:auto;
  border-radius:25px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;

}
.weather-child{
color:rgba(255, 255, 255, 0.856);
width:50%;
margin:auto;
font-family: 'Allan';font-size: 1.5rem;
}

.cards{
  margin:0;
  margin-top:10px;
  width:100%
}

#imageContainer{
  width:80%;
  margin:auto;
}

#imageContainer img{
  width:200px;
}

/* 

.day-1-container{
  color:red;
 border:1px solid white;
  
}
.day-2-container{
  
}
.day-3-container{

}
.day-4-container{

}
.day-5-container{

}
     */
    .temp{
      font-size: .8em;
      color:rgba(255, 255, 255, 0.856);
      width:80%;
      margin:auto;
      font-family: 'Allan';font-size: 1.5rem;
    }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}